{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<h1 class="my-2">My Profile</h1>
	<h4 class="my-4">My Properties</h4>
	<button class="btn btn-outline-dark my-2">
		<a href="{{ path('property_new') }}">New Property</a>
	</button>

	<div class="card-deck py-4">
		<div class="d-flex justify-content-center">
			<div class="row justify-content-md-center">
				{% for property in app.user.properties %}
					{{ include('property/card.html.twig',{'edit':'true'}) }}
				{% else %}
					<p>no records</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
