{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<h1 class="m-2">My Profile</h1>
	<h3 class="m-2">My Properties</h3>
	<div class="card-deck py-4">
		<div class="d-flex justify-content-center">
			<div class="row justify-content-md-center">
				{% for property in app.user.properties %}
					{{ include('property/card.html.twig',{'edit':'true'}) }}
				{% else %}
					<p>no records</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
